//variables
* {
    margin: 0;
    padding: 0;
}

$bg-dark: rgb(31, 31, 31);
$bg-info: rgb(3, 104, 199);
$bg-success: rgb(8, 160, 3);
$w-25:25%;
$w-50:50%;
$w-75:75%;
$w-100:100%;
$d-flex:flex;
$d-block:block;