/* variables */

// BUTTONS
.button--info {
    background-color: rgb(7, 173, 202);
    border-radius: 0.2em;
    color: rgb(255, 255, 255);
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    &:hover {
        background-color: rgb(6, 142, 167);
        color: white;
        transition: all .4s;
    }
}

.button--success {
    background-color: rgb(9, 141, 27);
    border-radius: 0.2em;
    color: rgb(255, 255, 255);
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    &:hover {
        background-color: rgb(1, 110, 10);
        color: white;
        transition: all .4s;
    }
}

.button--danger {
    background-color: rgb(182, 14, 14);
    border-radius: 0.2em;
    color: rgb(255, 255, 255);
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    &:hover {
        background-color: rgb(153, 14, 11);
        color: white;
        transition: all .4s;
    }
}

//TITLES 
.header__title {
    text-transform: uppercase;
    text-align: center;
}

.card__title--uppercase {
    text-transform: uppercase;
}