.contacto {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    background-image: url(../img/bgpatronclaro.jpg);
    font-weight: 600;
}

.contacto__form {
    padding: 0.5em;
    border-style: solid;
    border-color: rgb(54, 54, 54);
}