.section__title--error {
    text-align: center;
    background-color: rgba(134, 134, 134, 0.452);
}

.section__title--font {
    font-size: 5em;
    font-weight: 500;
}

.section__p {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}