// GENERAL
.body--background {
    background-image: url(../img/patron5.jpg);
    background-attachment: fixed;
}

.select--greybg {
    background-color: rgba(206, 206, 206, 0.452);
}

.select--marginpadding {
    margin: 0.4em;
    padding: 0.6em;
}

.select--border {
    border-style: solid;
    border-color: rgb(70, 70, 70);
}

.select--size {}

.article--background {
    background-color: rgba(206, 206, 206, 0.452);
}

.article--font {
    font-weight: 600;
    font-style: italic;
}