@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.body--background {
  background-image: url(../img/patron5.jpg);
  background-attachment: fixed; }

.select--greybg {
  background-color: rgba(206, 206, 206, 0.452); }

.select--marginpadding {
  margin: 0.4em;
  padding: 0.6em; }

.select--border {
  border-style: solid;
  border-color: #464646; }

.article--background {
  background-color: rgba(206, 206, 206, 0.452); }

.article--font {
  font-weight: 600;
  font-style: italic; }

.form__div--rps {
  display: flex; }

.form__textarea {
  width: 30em;
  height: 20vh; }

/* .iframe {
    width: 70vw;
} */
@media screen and (max-width: 500px) {
  .form__div--rps {
    display: inline; }
  .form__textarea {
    width: 15em;
    height: 10vh; } }

* {
  margin: 0;
  padding: 0; }

/* variables */
strong {
  font-weight: 600; }

.button--info {
  background-color: #07adca;
  border-radius: 0.2em;
  color: white;
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none; }
  .button--info:hover {
    background-color: #068ea7;
    color: white;
    transition: all .4s; }

.button--success {
  background-color: #098d1b;
  border-radius: 0.2em;
  color: white;
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none; }
  .button--success:hover {
    background-color: #016e0a;
    color: white;
    transition: all .4s; }

.button--danger {
  background-color: #b60e0e;
  border-radius: 0.2em;
  color: white;
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none; }
  .button--danger:hover {
    background-color: #990e0b;
    color: white;
    transition: all .4s; }

.header__title {
  text-transform: uppercase;
  text-align: center; }

.card__title--uppercase {
  text-transform: uppercase; }

/* footer {
    font-size: small;
} */
/* nav {
    background-color: $bg-info;
} */
/* GENERAL */
.tasaciones {
  margin: 1em;
  padding: 1em;
  border-style: solid;
  border-color: #363636;
  background-image: url(../img/patron5.jpg);
  background-attachment: fixed;
  font-weight: 600; }

.tasaciones__form {
  padding: 0.5em;
  border-style: solid;
  border-color: #363636; }

.section__title--error {
  text-align: center;
  background-color: rgba(134, 134, 134, 0.452); }

.section__title--font {
  font-size: 5em;
  font-weight: 500; }

.section__p {
  text-align: center;
  font-size: 2em;
  font-weight: 400; }

.contacto {
  margin: 1em;
  padding: 1em;
  border-style: solid;
  border-color: #363636;
  background-image: url(../img/patron5.jpg);
  background-attachment: fixed;
  font-weight: 600; }

.contacto__form {
  padding: 0.5em;
  border-style: solid;
  border-color: #363636; }
